<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SaltSizeInBits" value="128"/>
  </appSettings>
  
  <connectionStrings>
    <add name="BitsBlogDB" connectionString="Data Source=OMEGA;Initial Catalog=BitsBlog; User Id=BitsDev; password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>