<div id="library-form-button-area">
<div id="buttons-floated-right">
<span class="action-link-wrapper">
<img src="../../Images/System/buttons/delete_small_button.png" class="save-icon" alt=""/>
<input type="submit" value="Delete Selected" class="library-button"/>
</span>
<span class="action-link-wrapper-left-margin">
<img src="../../Images/System/buttons/save_checkmark_small_button.png" class="save-icon" alt=""/>
<input type="submit" value="Create New Post" class="library-button"/>
</span>
</div>
</div>