<div id="library-pagination-area">
<ul id="pagination-list">
<li><a href="#" class="previous hidden-pagination-link">« previous</a></li>
<li><a href="#" class="current-page-link">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#" class="next">next »</a></li>
</ul>
</div>
