<div id="manage-documents-box">
<div class="header-box">
<img src="../../Images/System/icons/manage_documents_header_icon.png" class="fortythree-by-fortythree-icon" alt="System Settings Icon"/>
<h2 class="left-nav-header-text">Manage Documents</h2>
</div>
<ul class="left-nav-box-links">
<li class="default-list-link"><a href="/BlogSettings/Create" class="default-bits-blog-link">Create new blog</a></li>
<li class="default-list-link"><a href="/Dashboard/Index" class="default-bits-blog-link">Manage blogs</a></li>
</ul>
</div>