<div id="system-management-box">
<div class="header-box">
<img src="../../Images/System/icons/system_settings_header_icon.png" class="fortythree-by-fortythree-icon" alt="System Settings Icon"/>
<h2 class="left-nav-header-text">System Settings</h2>
</div>
<ul class="left-nav-box-links">
<li class="default-list-link"><a href="/SystemSettings/Update" class="default-bits-blog-link">Edit system settings</a></li>
<li class="default-list-link"><a href="#" class="default-bits-blog-link">Analytics dashboard</a></li>
<li class="default-list-link"><a href="#" class="default-bits-blog-link">Manage users</a></li>
</ul>
</div>