<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="loginUrl" value="~/UserAccount/Login" />
  </appSettings>
  
  <connectionStrings>
    <add name="BitsBlogDB" connectionString="Data Source=OMEGA;Initial Catalog=BitsBlog; User Id=BitsDev; password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <sessionState mode="InProc" cookieless="false" timeout="20" />
    
    <authentication mode="Forms">
      <!-- this is important stuff -->
      <forms loginUrl="~/Admin/Index" timeout="20" protection="All" slidingExpiration="false" enableCrossAppRedirects="false" cookieless="UseCookies"/> 
    </authentication>

    <httpCookies domain="devbox.com" httpOnlyCookies="true" requireSSL="false" /> <!-- in prod enviroment should always be ssl-->

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
       <add namespace="BitsBlog.CMS.Web.BitsBlogHtmlHelpers" />
      </namespaces>
    </pages>

    <membership defaultProvider="BitsBlogMembershipProvider" userIsOnlineTimeWindow="30">
      <providers>
        <add name="BitsBlogMembershipProvider" type="BitsBlog.Authentication.MembershipProviders.BitsBlogMembershipProvider, BitsBlog.Authentication"
          connectionStringName="BitsBlogDB"
          enablePasswordRetrieval="false"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          applicationName="BitsBlog"
          requiresUniqueEmail="false"
          passwordFormat="Hashed"
          minRequiredPasswordLength="10"
          passwordStrengthRegularExpression=""
          description="Stores and retrieves membership data from the local database. This is a generic provider as it 
          uses the User Respository to do actual CRUD operations. The data access agents are injected into the repositories 
          and the type of data access agent used is determined then, hence the generic provider."/>
      </providers>
    </membership>
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
